DataResave_AQ/Service References/ServiceReference_AQ/AquariusDataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AquariusDataService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AquariusDataService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="LocationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Elevation" nillable="true" type="xs:float" />
      <xs:element minOccurs="0" name="ElevationUnits" nillable="true" type="xs:string" />
      <xs:element name="Identifier" nillable="true" type="xs:string" />
      <xs:element name="Latitude" nillable="true" type="xs:float" />
      <xs:element name="LocationName" nillable="true" type="xs:string" />
      <xs:element name="LocationPath" nillable="true" type="xs:string" />
      <xs:element name="LocationTypeName" nillable="true" type="xs:string" />
      <xs:element name="Longitude" nillable="true" type="xs:float" />
      <xs:element name="UtcOffset" type="xs:float" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExtendedAttributes" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element name="LocationId" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LocationDTO" nillable="true" type="tns:LocationDTO" />
</xs:schema>