DataResave_AQ/Service References/ServiceReference_AQ/AquariusAcquisitionService.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/AquariusAcquisitionService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AquariusAcquisitionService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="AppendAsyncStatus">
    <xs:sequence>
      <xs:element name="NumberOfPointsAppended" type="xs:int" />
      <xs:element name="NumberOfPointsDeleted" type="xs:int" />
      <xs:element name="Status" nillable="true" type="xs:string" />
      <xs:element name="UniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppendAsyncStatus" nillable="true" type="tns:AppendAsyncStatus" />
</xs:schema>