DataResave_AQ/Service References/ServiceReference_AQ/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AquariusAcquisitionService.Dto" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AquariusAcquisitionService" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/AquariusDataService" />
  <xs:element name="GetAuthToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="encodedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAuthTokenResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectionValid">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsConnectionValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsConnectionValidResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepConnectionAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepConnectionAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KeepConnectionAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendTimeSeriesAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uniqueId" type="q1:guid" />
        <xs:element minOccurs="0" name="csvBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AppendTimeSeriesAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AppendTimeSeriesAsyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverwriteAppendTimeSeriesAsync">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="uniqueId" type="q2:guid" />
        <xs:element minOccurs="0" name="startTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="endTime" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="csvBytes" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OverwriteAppendTimeSeriesAsyncResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OverwriteAppendTimeSeriesAsyncResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppendTimeSeriesAsyncStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="processToken" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppendTimeSeriesAsyncStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AquariusAcquisitionService.Dto" minOccurs="0" name="GetAppendTimeSeriesAsyncStatusResult" nillable="true" type="q3:AppendAsyncStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSeries3">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="label" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="parameterDisplayId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="unitId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="utcOffsetMinutes" type="xs:short" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="maximumGapInterval" nillable="true" type="q4:duration" />
        <xs:element minOccurs="0" name="methodCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AquariusAcquisitionService" minOccurs="0" name="interpolationType" type="q5:InterpolationType" />
        <xs:element minOccurs="0" name="subLocationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="computationIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="computationPeriodIdentifier" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="publish" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTimeSeries3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateTimeSeries3Result" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AquariusDataService" minOccurs="0" name="location" nillable="true" type="q7:LocationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLocationResult" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>